body {
  background-color: lightsteelblue;
  font-family: sans-serif;
}
.container,
.center,
.info {
  text-align: center;
}
.info {
  margin-bottom: 40px;
}
.container {
  margin-bottom: 40px;
}
* {
  box-sizing: border-box;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 70%;
  border-collapse: collapse;
  /* box-shadow: 15px 15px 15px 5px ; */
  border: 1px solid black;
}

th {
  background-color: rgb(146, 175, 175);
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
  padding: 10px;
}
td {
  padding: 1rem 1rem;
  /* background-color: lightcyan; */
}
tr:nth-child(even) {
  background-color: rgb(156, 178, 199);
}

a {
  color: black;
}
caption {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}
