.float_left {
  float: left;
}
.float_right {
  float: right;
}
.float_clear {
  clear: both;
}
.float_none {
  float: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.maincontainer {
  min-width: 100%;
}
.container1 {
  width: 100%;
  margin: 0 auto;
}
.upper_header {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 90%;
  margin: 0 auto;
}
.upper_header > h3 {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 34px;
}
.home_navbar {
  /* margin-left: 31px; */
  display: block;
  float: none;
  padding: 100px 0px;
  clear: both;
}
.home_navbar ul li {
  float: none;
}
.icon {
  float: right;
  padding-top: 12px;
}
.icon img {
  vertical-align: middle;
  margin-left: 15px;
}
.login {
  float: right;
}
.home_navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
}
.login_member {
  padding: 15px 15px;
  margin-left: 45px;
}
.login_member > img {
  padding-top: 3px;
  padding-left: 15px;
}
.login_member2 {
  padding-top: 15px;
}
.lower_header {
  background-image: url(/images/insurance.jpg);
  text-align: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}
.insurance {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.insurance2 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.insurance3_left,
.insurance3_right {
  padding: 15px 36px;
  border-radius: 37px;
}
.insurance3_left {
  width: 185px;
  margin-right: 10px;
}
.insurance3_right {
  width: 154px;
}

.section1 {
  background-color: #252b42;
  padding: 80px;
  width: 100%;
}
.top_section1 {
  margin-bottom: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.in_top_section1 {
  padding: 40px;
  color: white;
}
.in_top_section1 img {
  margin-bottom: 30px;
}
.in_top_section1 > .center_text h5 {
  padding-bottom: 10px;
}
.in_top_section1 > .center_text p {
  line-height: 20px;
  font-size: 14px;
}
div.top_section1:nth-child(3) {
  margin-bottom: 0px;
}
.section2 {
  background-color: #8ec2f2;
}
.section2_wrapper {
  width: 85%;
  padding: 80px 30px;
  margin-left: auto;
  margin-right: auto;
}
.designer1,
.designer2 {
  background-color: white;
  padding: 30px 40px;
}
header.designer {
  padding: 0px 130px;
  margin-bottom: 60px;
}
.designer1 {
  margin-bottom: 60px;
  position: relative;
}
.designer2 {
  position: relative;
}
.designer1 > img:nth-child(2) {
  margin: 15px 0px;
}
.designer2 > img:nth-child(2) {
  margin: 15px 0px;
}
.designer_img {
  position: absolute;
  top: 25px;
  left: -46px;
}
