@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap");
html {
  font-family: "Montserrat";
}
.center_text {
  text-align: center;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}
h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
h5 {
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
}
h6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600px;
  letter-spacing: 0.2px;
}
.white_color {
  color: white;
}
.black_color {
  color: black;
}
.top_header {
  background-color: #252b42;
  color: white;
}
.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section.top_section {
  background-color: #252b42;
}
.top_section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.upper_header {
  color: white;
}
.upper_header > h3 {
  font-weight: bold;
  padding-top: 7px;
}
.upper_header nav {
  font-size: 14px;
}
.login {
  font-size: 14px;
  text-decoration: none;
  display: none;
}
.login_member {
  background-color: #23a6f0;
}

.login_member2 > a {
  text-decoration: none;
  color: white;
}

.insurance3_left {
  background-color: #23a6f0;
}
.insurance3_left,
.insurance3_right {
  text-align: center;
  font-size: 14px;
}
.insurance3_right {
  border: 1px solid white;
}
header.designer {
  color: white;
}
.designer > p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.view_project {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
@media screen and (min-width: 800px) {
  .insurance {
    width: 50%;
    padding-top: 0px;
  }

  .insurance3_left,
  .insurance3_right {
    text-align: center;
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
  }
  .insurance3 {
    margin: 0 0px;
  }
  .top_section1 {
    width: 60%;
  }

  .section1 {
    background-color: #252b42;
    width: 100%;
    padding: 20px 0px;
  }
  header.designer {
    padding: 0px 130px;
  }
  .section2_wrapper {
    padding: 80px 30px;
  }
  .adventure4,
  .adventure2,
  .adventure1,
  .adventure3 {
    margin-top: 5px;
    margin-left: 10px;
  }
  .section3_wrapper {
    width: 90%;
  }
  .adventure1,
  .adventure2 {
    float: left;
  }
  .adventure3 {
    float: left;
    clear: both;
  }
  .adventure4 {
    float: left;
  }
  .adventure_details {
    margin-top: 50px;
  }
  div.checked {
    width: 69%;
  }
  .try {
    margin-top: 40px;
  }
  .appointment_form {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1002px) {
  .maincontainer {
    min-width: 1440px;
  }
  .container1 {
    width: 1044px;
    margin: 0 auto;
  }
  .insurance3_left {
    width: 185px;
    margin-right: 10px;
  }
  .insurance3_right {
    width: 154px;
  }
  .insurance3 {
    margin: 0 0px;
  }

  .login {
    display: block;
  }
  .top_header {
    background-image: url(../images/insurance.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .upper_header {
    width: 100%;
  }
  .home_navbar {
    margin-left: 31px;
    display: block;
    float: left;
    padding: 0px 0px;
    clear: none;
  }
  .home_navbar ul li {
    float: left;
  }
  .icon {
    display: none;
  }
  .lower_header {
    padding-top: 112px;
    padding-bottom: 112px;
    padding-right: 451px;
    background-image: unset;
    text-align: left;
  }
  .insurance2 {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 223px;
  }
  .insurance {
    text-align: left;
    width: 100%;
    margin-left: 0;
    margin-right: auto;
  }
  .section1 {
    background-color: #252b42;
    padding: 96px 0px;
  }
  .section1_wrapper {
    margin: 0 auto;
    width: 1046px;
  }
  .top_section1 {
    margin-bottom: 30px;
    width: 328px;
    margin-left: 30px;
    float: left;
  }
  .top_section1:first-child {
    margin: left 0px;
  }
  div.top_section1:nth-child(1) {
    margin-left: 0px;
  }
  .section2 {
    padding: 80px 0px;
  }
  .section2_wrapper {
    width: 1137px;
    padding: 0px;
  }
  .designer1,
  .designer2 {
    width: 450px;
    float: left;
  }
  header.designer {
    margin-bottom: 60px;
    width: 607px;
    margin-left: auto;
    margin-right: auto;
  }
  .designer1 {
    margin-right: 100px;
    margin-bottom: 0px;
  }
  .designer_details {
    padding-left: 73px;
  }
  .adventure1,
  .adventure2,
  .adventure3,
  .adventure4 {
    float: left;
    width: 22%;
    margin: 30px auto;
    margin-left: 30px;
  }
  .section3_wrapper {
    width: 1438px;
  }
  header.adventure {
    margin-bottom: 60px;
  }
  .adventure3 {
    clear: none;
  }
  .section4_wrapper {
    width: 1050px;
  }
  .pricing1,
  .pricing2,
  .pricing3 {
    width: 30%;
    float: left;
    margin: 0 auto;
    margin-left: 30px;
  }
  div.checked {
    width: 100%;
  }
  .appointment_container {
    width: 1050px;
    margin: 0 auto;
  }
  .footer_container {
    width: 1050px;
    margin: 0 auto;
  }
  .company_info,
  .legal,
  .features,
  .resources,
  .get_in_touch {
    float: left;
    margin-right: 50px;
  }
  .contact_us {
    width: 185px;
    float: right;
    margin-top: 0px;
  }
  .upper_left {
    float: left;
  }
}
