header {
  height: 125px;
}
footer {
  height: 45px;
}
a {
  text-decoration: none;
  color: inherit;
}
.main_container {
  min-width: 1002px;
}
.container {
  width: 938px;
  margin: 0 auto;
}
.upper_header {
  background-color: #7dd9e8;
  height: 85px;
  width: auto;
  padding-left: 32px;
  padding-top: 20px;
  padding-right: 31px;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}

header {
  margin-bottom: 30px;
}
.logo_header {
  padding: 0px;
  margin: 0px;
  float: left;
  /* background-color: blue; */
}
.lower_header {
  background-color: #f5f5f5;
  height: 40px;
  padding: 12px 0px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.header_search {
  margin-left: 23px;
  float: left;
  padding: 3px;
}

.footer_right {
  float: right;
  padding: 15px 0px;
}

.footer_left {
  /* padding-left: 32px; */
  float: left;
  padding: 15px 0px;
}

.footer_left ul li {
  display: inline;
  padding: 0 5px;
}
