@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
html {
  font-family: "Mulish";
  /* font-size: 200px; */
}
.create {
  float: left;
  display: none;
}
.create a {
  padding: 9px 12px;
  color: #0e0d0d;
}
.create a:hover {
  color: #979797;
}
.create a:active {
  color: #979797;
}
.friend ul li span {
  position: relative;
  bottom: 3px;
  padding-left: 5px;
}
.friend ul li {
  display: inline;
  padding: 0 15px;
}
.friend ul li:last-child {
  padding-right: 0;
}
.friend ul li:hover {
  color: #979797;
}
.friend_none {
  display: none;
}
.header_search {
  margin-top: 16px;
  display: none;
}
.header_search_left {
  margin-right: 7px;
}
.search1 {
  background-image: url(../images/search_bar1.png);
  padding-left: 10px;
  /* display: inline-block; */
  float: left;
  padding-right: 20px;
}
.search2 {
  /* float: left; */
  background-image: url(../images/search_bar2.png);
  height: 18px;
  width: 17px;
  float: left;
}
.search3 {
  background-image: url(../images/search_bar3.png);
  height: 18px;
  width: 17px;
  float: left;
}
.search4 {
  background-image: url(../images/search_button.png);
  color: white;
  width: 55px;
  height: 26px;
  float: left;
  font-size: 12px;
  padding: 5px 10px;
  margin-top: -2px;
  background-repeat: no-repeat;
}
.reset {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}
.input {
  background-image: url("../images/search_in_long.png");
}
.input:before {
  content: " ";
  background-image: url(../images/search_in_long_edge.png);
}
.user h4 {
  text-align: right;
}

.status {
  margin-top: 6px;
}
.status ul li {
  display: inline-block;
  border-right: 1px solid #000;
  padding: 0 8px;
}
.status ul li:last-child {
  border-right: none;
  padding-right: 0px;
}
.sign_in {
  float: right;
}
.log_out {
  float: right;
  clear: right;
}

.friend {
  float: right;
}
.friend ul li {
  display: inline-block;
}
.friend > .invites {
  text-align: center;
  text-decoration: none;
  padding: 9px 12px;
  font-size: x-small;
  color: #0e0d0d;
  overflow: hidden;
}

.sidebar_links li {
  padding: 12px 12px;
}
.sidebar_left a li:hover {
  background-color: white;
}
.sidebar_mid h1 {
  margin-bottom: 1vw;
}
._left_right {
  border-bottom: 1px solid #2fc1da;
}
.entries_left {
  background-image: url(../images/entries1.png);
  float: left;
  border-right: 2px solid white;
  width: 100%;
  height: 58px;
  position: relative;
  text-align: center;
  font-size: 14px;
  margin-bottom: 2vw;
  background-repeat: no-repeat;
  background-size: 100%;
}
.entries_left1 {
  background-image: url(../images/entries_blue.png);
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: inline-block;
  width: 115px;
  height: 28px;
  padding-top: 10px;
}
.entries_left2 {
  background-image: url(../images/entries_gray.png);
  position: absolute;
  bottom: 0px;
  display: inline-block;
  right: 10px;
  width: 115px;
  height: 28px;
  padding-top: 7px;
  padding-top: 10px;
}

.entries_right {
  background-image: url(../images/entries2.png);
  float: left;
  width: 100%;
  height: 58px;
  position: relative;
  text-align: center;
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.entries_left > h4:nth-child(1) {
  margin-top: 5px;
}
.entries_right > h4:nth-child(1) {
  margin-top: 5px;
}

.entries_right1 {
  background-image: url(../images/entries_gray.png);
  position: absolute;
  bottom: 0px;
  display: inline-block;
  left: 10px;
  width: 115px;
  height: 28px;
  padding-top: 10px;
}
.entries_right2 {
  background-image: url(../images/entries_gray.png);
  position: absolute;
  bottom: 0px;
  display: inline-block;
  right: 10px;
  width: 115px;
  height: 28px;
  padding-top: 10px;
}
.entries_left1:hover {
  background-image: url(../images/entries_blue.png);
}
.entries_left2:hover {
  background-image: url(../images/entries_blue.png);
}
.entries_right1:hover {
  background-image: url(../images/entries_blue.png);
}
.entries_right2:hover {
  background-image: url(../images/entries_blue.png);
}

.entries_body ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
}
.entries_body ul li img{
  margin-right: 10px;
}

.person_img {
  margin-right: 9px;
}
.sidebar_heading {
  background-color: #2fc1da;
  padding: 12px 12px;
}
.sidebar_right li:hover {
  background-color: white;
}

footer {
  background-color: #727272;
  color: #fff;
  width: 100%;
}
.footer_left ul li a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.footer_left {
  /* padding-left: 32px; */
  float: left;
  padding: 15px 0px;
}

.footer_left ul li {
  display: inline;
  padding: 0 5px;
}
.footer_left li::before {
  content: "•";
  padding: 6px;
}
.footer_left li:first-child::before {
  content: "";
  padding: 0px;
}
.blue {
  color: #2fc1da;
  font-weight: bolder;
}
.red {
  color: red;
}
.greeni {
  color: #759b2d;
}
.gray {
  color: #707070;
}
@media screen and (min-width: 768px) {
  .footer_right {
    float: right;
  }
  .create {
    display: block;
  }
  .sidebar_left {
    float: left;
    width: 30%;
  }
  .sidebar_mid {
    float: left;
    width: 66%;
    margin-top: 0px;
  }
  .entries_left {
    width: 50%;
    margin-bottom: 0px;
  }
  .entries_left1 {
    width: 50%;
    margin-bottom: 0px;
  }
  .entries_left2 {
    width: 50%;
  }
  .entries_right {
    float: left;
    width: 50%;
  }
  .entries_right1 {
    width: 50%;
  }
  .entries_right2 {
    width: 50%;
  }
  .sidebar_right {
    width: 100%;
    margin-top: 0px;
  }

}
@media screen and (min-width: 1002px) {
  .main-container {
    min-width: 1002px;
  }
  .container {
    width: 938px;
  }
  .footer_right {
    float: right;
  }
  .create {
    display: block;
  }
  .friend_none {
    display: inline;
  }
  .header_search {
    /* margin-top: 16px; */
    display: block;
  }
  .user {
    display: block;
  }
  .user_icon {
    display: none;
  }
  .sidebar_left {
    float: left;
    width: 194px;
  }
  .sidebar_mid {
    float: left;
    width: 518px;
    margin-top: 0px;
    height: 645px;
  }

  .entries_left {
    width: 258px;
    margin-bottom: 0px;
  }
  .entries_left1 {
    width: 115px;
    margin-bottom: 0px;
  }
  .entries_left2 {
    width: 115px;
  }
  .entries_right {
    float: left;
    width: 258px;
  }
  .entries_right1 {
    width: 115px;
  }
  .entries_right2 {
    width: 115px;
  }
  .sidebar_right {
    float: right;
    width: 176px;
    margin-top: 0px;
  }
}
