@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
html {
  font-family: "Mulish";
  /* font-size: 200px; */
}
.create a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 9px 12px;
  font-size: x-small;
  color: #0e0d0d;
  overflow: hidden;
}
.create a:hover {
  color: #d2d2d2;
}
.create a:active {
  color: #d2d2d2;
}
.req .invites {
  display: inline;
}
